/* register.css */
body {
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container, .forgot-password-container, .register-container {
    width: 90%; /* Ajuste para telas menores */
    max-width: 400px;
    margin: 0 auto;
}

.register-container {
    padding: 30px 20px;
    margin: 20px auto; /* Adicionado margin para espaçamento superior e inferior */
}

.register-container h2 {
    margin-bottom: 25px; /* Aumentado o espaçamento inferior */
}

.register-container {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-container img {
    width: 100px;
    margin-bottom: 20px;
}

.register-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-text {
    color: #6c757d;
    font-size: 0.9em;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.message {
    margin-top: 15px;
    color: #28a745;
}
